<ion-view view-title="Admin Tools" class="Admin-Tools">
    <ion-content>
        <div ng-show="vm.render">
            <!-- Components -->
            <ion-list>
                <!-- Component -->
                <ion-item class="item-icon-left item-icon-right" ng-repeat="component in vm.moreComponents" ui-sref="{{ component.state }}">
                    <i class="icon" ng-class="component.icon"></i>
                    <h2>{{ component.name }}</h2>
                    <i class="icon ion-ios-arrow-forward"></i>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
