<ion-view class="Edit-Item">
    <ion-nav-title>{{vm.title}}</ion-nav-title>
   <!--  <ion-nav-buttons side="left">
    <a class="button button-icon icon ion-close" ng-click="vm.cancelEditItem()"></a>
    </ion-nav-buttons> -->
    <ion-nav-buttons side="right">
        <span ng-if="!vm.editItem">
            <a class="button button-icon icon ion-edit" ng-click="vm.toggleEditItem()"></a>
        </span>
        <span ng-if="vm.editItem">
            <a class="button button-icon icon ion-checkmark" ng-click="vm.updateItem(vm.editItemForm)"  ng-disabled="vm.editItemForm.$invalid"></a>
        </span>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher on-refresh="vm.onRefresh()"></ion-refresher>

        <div ng-show="vm.render">

            <form name="vm.editItemForm" novalidate>
                <ion-list>

                    <!-- Barcode -->
                    <label class="item" ng-class="{'non-editable-field': vm.editItem}">
                        <span class="item-note">{{ vm.item.barcode }}</span>
                        <h2>Barcode</h2>
                    </label>

                    <!-- Last Scanned -->
                    <label class="item" ng-class="{'non-editable-field': vm.editItem}">
                        <span class="item-note">{{ vm.item.creatorName }}</span>
                        <h2>Last Scanned</h2>
                    </label>

                    <!-- Department -->
                    <label class="item item-select item-input">
                        <h2 class="input-label">Department</h2>
                        <select ng-options="department as department.name for department in vm.departments" ng-model="vm.item.department" ng-change="vm.setItemDepartment()" ng-required="true" ng-disabled="!vm.editItem"></select>
                    </label>

                    <!-- Building -->
                    <label class="item item-select item-input">
                        <h2 class="input-label">Building</h2>
                        <select ng-class="{'parent-not-set': !vm.item.department}" ng-options="building.name for building in vm.buildings" ng-model="vm.item.building" ng-change="vm.setItemBuilding()" ng-required="true" ng-disabled="!vm.editItem || !vm.item.department"></select>
                    </label>

                    <!-- Room -->
                    <label class="item item-select item-input">
                        <h2 class="input-label">Room</h2>
                            <select ng-class="{'parent-not-set': !vm.item.building}" ng-options="room.number for room in vm.rooms" ng-model="vm.item.room" ng-required="true" ng-disabled="!vm.editItem || !vm.item.building"></select>
                    </label>

                    <!-- Item Type -->
                    <label class="item item-select item-input">
                        <h2 class="input-label">Item Type</h2>
                            <select ng-options="type.name for type in vm.types" ng-model="vm.item.type" ng-required="true" ng-disabled="!vm.editItem"></select>
                    </label>

                    <!-- Bought Price -->
                    <label class="item item-input">
                        <h2 class="input-label">Bought Price</h2>
                        <input type="text" name="bought-price" placeholder="None" ng-model="vm.item.boughtPrice" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-disabled="!vm.editItem">
                    </label>

                    <!-- Current Price -->
                    <label class="item item-input">
                        <h2 class="input-label">Current Price</h2>
                        <input type="text" name="current-value" placeholder="None" ng-model="vm.item.currentPrice" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-disabled="!vm.editItem">
                    </label>

                    <!-- Description -->
                    <label class="item item-input item-stacked-label">
                        <h2 class="input-label">Description</h2>
                        <textarea name="description" placeholder="None" ng-model="vm.item.description" ng-disabled="!vm.editItem"></textarea>
                    </label>

                </ion-list>
            </form>
        </div>
    </ion-content>
</ion-view>
