<ion-view view-title="Login" hide-nav-bar="true" class="Login">

    <!-- Content -->
    <ion-content scroll="false" class="fullscreen">
        <div ng-show="vm.render">
            <div class="center-row">
                <!-- Login Box -->
                <div class="card">
                    <h2>UND IMS</h2>
                    <form name="vm.loginForm" novalidate>
                        <ion-list>

                            <!-- Username -->
                            <ion-item class="line">
                                <label class="item-input">
                                    <input type="text" name="email" placeholder="Email" ng-required="true" ng-model="vm.email" ng-keydown="vm.clearIsIncorrect()" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
                                </label>
                            </ion-item>

                            <!-- Password -->
                            <ion-item class="line">
                                <label class="item-input">
                                    <input type="password" name="password" placeholder="Password" ng-required="true" ng-model="vm.password" ng-keydown="vm.clearIsIncorrect()" />
                                </label>
                            </ion-item>

                            <!-- Remember Me -->
                            <ion-item class="line" ng-if="!vm.hideRememberMe">
                                <ion-toggle class="like-textbox" name="rememberMe" ng-model="vm.rememberMe" toggle-class="toggle-und">Remember Me</ion-toggle>
                            </ion-item>
                        </ion-list>

                        <!-- Login Button -->
                        <p class="incorrect-credentials" ng-if="vm.isIncorrect">The email and/or password are incorrect.</p>
                        <button class="button button-block button-ims-blue" ng-click="vm.login()" ng-disabled="!vm.loginForm.$valid">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>