<ion-view view-title="Search Items" class="Search-Items">
    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-close" ng-click="vm.clearSearch()"  ng-disabled="!vm.searchFilterForm.$valid"></a>
    </ion-nav-buttons>
    <ion-content ng-show="vm.render">
    	<form name="vm.searchFilterForm" novalidate>
        <ion-list>
    		<!-- Department -->
            <label class="item item-select item-input">
                <h2 class="input-label">Department</h2>
                <select ng-options="department.name for department in vm.departments" ng-model="vm.search.department" ng-change="vm.setDepartment()" ng-readonly="true" ng-required="true"></select>
            </label>

    	    <!-- Building -->
    	    <label class="item item-select item-input">
                <h2 class="input-label">Building</h2>
                <select ng-options="building.name for building in vm.buildings" ng-model="vm.search.building" ng-change="vm.setBuilding()" ng-readonly="true" ng-disabled="!vm.search.department"></select>
            </label>

    	    <!-- Room -->
    	    <label class="item item-select item-input">
                <h2 class="input-label">Room</h2>
                <select ng-options="room.number for room in vm.rooms" ng-model="vm.search.room" ng-readonly="true" ng-disabled="!vm.search.building"></select>
            </label>
    	</ion-list>
    </form>
    <button class="button button-full button-ims-blue search" ng-disabled="!vm.searchFilterForm.$valid" ng-click="vm.searchItems()">Search</button>
    </ion-content>
</ion-view>
