<ion-view view-title="View Items" class="View-Items">
  <ion-content ng-show="vm.render">
  	<ion-list class="results">
  		<ion-item ng-if="!vm.foundItems">
            <h2>No items</h2>
        </ion-item>
        <!-- Types -->
        <div ng-repeat="(key, type) in vm.types">
            <!-- Type -->
            <a ng-if="type.items.length" class="item item-icon-left item-icon-right" ng-click="vm.toggleItemTypeOpen(type)">
                <i class="icon" ng-class="{'ion-monitor': type.name=='Computer', 'ion-cube': type.name=='Desk', 'ion-compose': type.name=='test', 'ion-trophy': type.name=='Office Chair'}"></i>
                <h2>{{type.name}}</h2>
                <p>Count: {{type.items.length}}</p>
                <i class="icon" ng-class="type.isOpen ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i>
            </a>
            <!-- Item -->
            <ion-item ng-repeat="item in type.items" class="accordion item-icon-right" ng-click="vm.editItem(item)" ng-class="{ 'hidden': !type.isOpen, 'no-animate': (type.items.length > 50) }">
                <p>{{item.barcode}}</p>
            </ion-item>
        </div>
	</ion-list>
  </ion-content>
</ion-view>