<h1>Manage Inventory</h1>
<p>Use the table below to manage inventory within the system. You can sort items, delete items, and update their information from within the table. Use the search box at the top to search for a specific item, or to filter items down in the table.</p>
<div class="row">
    <md-input-container style="margin-right: 10px;width: 100%">
        <label>Department</label>
        <md-select ng-model="department">
            <md-option ng-repeat="department in departments" value="{{department.id}}">{{department.name}}</md-option>
        </md-select>
    </md-input-container>
    <md-input-container style="margin-right: 10px;width: 100%">
        <label>Buildings</label>
        <md-select ng-model="building">
            <md-option ng-repeat="building in buildings" value="{{building.id}}">{{building.name}}</md-option>
        </md-select>
    </md-input-container>
    <md-input-container style="margin-right: 10px;width: 100%">
        <label>Rooms</label>
        <md-select ng-model="room">
            <md-option ng-repeat="room in rooms" value="{{room.id}}">{{room.number}}</md-option>
        </md-select>
    </md-input-container>
    <md-button class="md-primary md-raised add-item" style="float: none" ng-click="search()">Search</md-button>
</div>
<div ui-grid="gridOptions" ui-grid-edit ui-grid-exporter ui-grid-importer ui-grid-resize-columns class="inventoryGrid"></div>
<!--
<md-button class="md-primary md-raised add-item" ng-click="addItem()">Add Item</md-button>
-->
