<md-dialog aria-label="New user" ng-cloak>
	<form name="newUserForm">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>New User</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon md-svg-src="images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content">
				<p>Use the form below to add a new user to the system.</p>
				<div class="form md-inline-form">
					<md-input-container class="width-100">
						<label>First Name</label>
						<input required name="firstname" maxlength="40" ng-model="newUser.first_name" />
						<div ng-messages="newUserForm.firstname.$error" role="alert">
							<div ng-message="maxlength">Wow, that's a long name! First name must be less than 40 characters.</div>
							<div ng-message="required">A first name is required.</div>
						</div>
					</md-input-container>
					<md-input-container class="width-100">
						<label>Last Name</label>
						<input required name="lastname" maxlength="40" ng-model="newUser.last_name" />
						<div ng-messages="newUserForm.lastname.$error" role="alert">
							<div ng-message="maxlength">Wow, that's a long name! Last name must be less than 40 characters.</div>
							<div ng-message="required">A last name is required.</div>
						</div>
					</md-input-container>
					<md-input-container class="width-100">
						<label>Email</label>
						<input required name="email" ng-model="newUser.email" minlength="10" maxlength="255" ng-pattern="/^.+@.+\..+$/" />
						<div ng-messages="newUserForm.email.$error" role="alert">
							<div ng-message-exp="['required', 'pattern']">Must be a valid email address.</div>
						</div>
					</md-input-container>
					<md-switch ng-model="newUser.is_admin" class="md-primary" ng-true-value="1" ng-false-value="0">Administrator</md-switch>
				</div>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<md-button ng-click="resetForm()">Reset</md-button>
			<md-button class="md-primary" ng-click="newUserForm.$valid && addUser()">Add User</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>