<md-dialog aria-label="New user" ng-cloak>
	<form name="forgotPassForm">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Reset Password</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon md-svg-src="images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content">
				<p>Please enter your email address to receive a new password.</p>
				<div class="form md-inline-form">
					<md-input-container class="width-100">
						<label>Email</label>
						<input required name="email" ng-model="email" minlength="10" maxlength="255" ng-pattern="/^.+@.+\..+$/" />
						<div ng-messages="forgotPassForm.email.$error" role="alert">
							<div ng-message-exp="['required', 'pattern']">Must be a valid email address.</div>
						</div>
					</md-input-container>
				</div>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<md-button class="md-primary" ng-click="forgotPassForm.$valid && resetPassword()">Reset Password</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>